@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}


body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #6f777d;
    color: white;
}
.cabecalho{
    padding: 2% 0 0 15%;
}
.cabecalho__menu{
    display: flex;
    gap:60px;
}

.cabecalho__menu__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color:  rgba(46, 231, 86, 0.684);
    text-decoration: none;
}

.apresentacao{
    /* margin:  0%  15%; */
    padding: 0% 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    /* flex-wrap:wrap; */
}

.apresentacao__conteudo{
    width: 615px;
    display:flex;
    flex-direction: column;
    gap:15px;
}

.apresentacao__conteudo__titulo{
    font-family: "Krona One", sans-serif;
    font-size:36px;
}

.apresentacao__conteudo__paragrafo{
    font-family: "Montserrat", sans-serif;
    font-size:24px;
}

.apresentacao__links
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:30px;
}

.apresentacao_links_subtitulo
{
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 25px;
}
.apresentacao__links__link{
    /* background-color:rgba(46, 231, 86, 0.684); */

    display: flex;
    justify-content: center;
    gap: 20px;
    border: solid 2px rgba(46, 231, 86, 0.684);
    width:320px;
    padding: 15px 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-radius: 10px;
    font-size: 24px;
    font-weight:600;
    text-decoration: none;
    color: white;
    
}

.apresentacao__links__link:hover
{
    background-color:rgba(46, 231, 86, 0.185);
}
.titulo-destaque {
    color: rgba(46, 231, 86, 0.684);
}


.apresentacao > img{
    border-radius: 20px;
}

.rodape
{
    padding: 25px;
    color:aliceblue;
    background-color: rgba(46, 231, 86, 0.185);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
}

